.title {
  font-size: 72px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  .title--white {
    color: #ffffff; }
  .title--black {
    color: #333; }

.sub-title {
  font-size: 56px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .sub-title {
      font-size: 40px; } }
  .sub-title--white {
    color: #ffffff; }
  .sub-title--black {
    color: #333; }

.btn-main {
  background: -webkit-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  max-width: 170px;
  padding: 10.5px 10px;
  outline: none; }
  .btn-main:hover, .btn-main:focus {
    background: -webkit-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: -o-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
    color: #ffffff;
    text-decoration: none; }
  @media (max-width: 576px) {
    .btn-main {
      max-width: 120px;
      font-size: 14px; } }
  .btn-main--white {
    background: #ffffff;
    border: 1px solid #c3c6ef;
    color: #434CCC;
    padding-top: 9.5px;
    padding-bottom: 9.5px; }
    .btn-main--white:hover, .btn-main--white:focus {
      color: #434CCC;
      background: #ffffff; }
  .btn-main--yellow {
    background: #F1B505;
    color: #ffffff; }
    .btn-main--yellow:hover, .btn-main--yellow:focus {
      color: #ffffff;
      background: #F1B505; }

.btn-action {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  max-width: 146px;
  -ms-flex-preferred-size: 146px;
      flex-basis: 146px;
  padding: 10.5px 10px;
  outline: none; }
  @media (max-width: 1199px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  @media (max-width: 991px) {
    .btn-action {
      max-width: 146px;
      -ms-flex-preferred-size: 146px;
          flex-basis: 146px; } }
  @media (max-width: 576px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  .btn-action--light {
    color: #2DCC70; }
    .btn-action--light:hover, .btn-action--light:focus {
      color: #2DCC70; }
  .btn-action--dark {
    color: #333; }
    .btn-action--dark:hover, .btn-action--dark:focus {
      color: #333; }
  .btn-action:hover, .btn-action:focus {
    text-decoration: none; }

.circle {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  border-radius: 50%; }

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.browse-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .browse-all {
      margin-top: 35px; } }
  .browse-all__text {
    color: #333;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 15px; }
  .browse-all__icon {
    border: 1px solid rgba(51, 51, 51, 0.297271);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; }
  .browse-all:hover .browse-all__text {
    text-decoration: underline; }

.card {
  border: none;
  border-radius: 8px;
  font-family: 'Josefin Sans Bold', sans-serif;
  padding: 32px; }
  @media (max-width: 1199px) {
    .card {
      padding: 15px; } }
  @media (max-width: 991px) {
    .card {
      padding: 32px; } }
  @media (max-width: 576px) {
    .card {
      padding: 15px; } }
  .card--aqua {
    background: -webkit-gradient(linear, left top, left bottom, from(#00CDAC), to(#02AAB0));
    background: -webkit-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: -o-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%); }
  .card--orange {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
    background: -webkit-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: -o-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%); }
  .card--purple {
    background: -webkit-gradient(linear, left top, left bottom, from(#6F86D6), to(#48C6EF));
    background: -webkit-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: -o-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%); }
  .card--tinture {
    background: -webkit-gradient(linear, left top, left bottom, from(#42275A), to(#734B6D));
    background: -webkit-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: -o-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: linear-gradient(180deg, #42275A 0%, #734B6D 100%); }
  .card--preroll {
    background: -webkit-gradient(linear, left top, left bottom, from(#80D0C7), to(#13547A));
    background: -webkit-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: -o-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%); }
  .card--concentrate {
    background: -webkit-gradient(linear, left top, left bottom, from(#4568DC), to(#B06AB3));
    background: -webkit-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: -o-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%); }
  .card--drink {
    background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92));
    background: -webkit-linear-gradient(top, #000428 0%, #004E92 100%);
    background: -o-linear-gradient(top, #000428 0%, #004E92 100%);
    background: linear-gradient(180deg, #000428 0%, #004E92 100%); }
  .card--patch {
    background: -webkit-gradient(linear, left top, left bottom, from(#CC2B5E), to(#753A88));
    background: -webkit-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: -o-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%); }
  .card--topical {
    background: -webkit-gradient(linear, left top, left bottom, from(#2B5876), to(#4E4376));
    background: -webkit-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: -o-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%); }
  .card .card-title {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1; }
  .card .card-by {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; }
  .card .card-compose {
    color: #ffffff;
    margin-top: 30px; }
  .card .card-compose-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card .card-compose-in__left, .card .card-compose-in__right {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      display: inline-block; }
  .card .card-select-wrapper {
    padding: 0 30px 10px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 15px; }
    @media (max-width: 1199px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 991px) {
      .card .card-select-wrapper {
        padding: 0 30px 10px; } }
    @media (max-width: 576px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    .card .card-select-wrapper:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 228px;
      height: 1px;
      background: #ffffff; }
      @media (max-width: 1199px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
      @media (max-width: 991px) {
        .card .card-select-wrapper:after {
          width: 228px; } }
      @media (max-width: 576px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
  .card .card-select {
    width: 100%; }
  .card .card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.card.open {
  z-index: 1; }
  .card.open:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #F1B505;
    border-radius: 8px;
    z-index: -1; }

.card-modal .modal-dialog {
  max-width: 836px; }
  @media (max-width: 991px) {
    .card-modal .modal-dialog {
      max-width: 500px; } }

.card-modal .modal-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#06BEB6), to(#48B1BF));
  background: -webkit-linear-gradient(top, #06BEB6 0%, #48B1BF 100%);
  background: -o-linear-gradient(top, #06BEB6 0%, #48B1BF 100%);
  background: linear-gradient(180deg, #06BEB6 0%, #48B1BF 100%);
  padding: 16px; }
  @media (max-width: 576px) {
    .card-modal .modal-content {
      padding: 0; } }

.card-modal .modal-footer {
  padding: 16px; }
  .card-modal .modal-footer .btn-action {
    color: #333; }
    .card-modal .modal-footer .btn-action:hover {
      color: #333; }

.card-modal .lists {
  opacity: 0; }
  .card-modal .lists.show {
    opacity: 1; }

.card-modal .lists * {
  opacity: 0;
  -webkit-transition: opacity 1.75s;
  -o-transition: opacity 1.75s;
  transition: opacity 1.75s; }
  .card-modal .lists *.show {
    opacity: 1; }

.card-modal .lists-title {
  background: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 16px 16px 0;
  margin-top: 15px; }

.card-modal .effects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .card-modal .effects__row:last-child {
    margin-bottom: 0; }

.card-modal .effects__type {
  background: #ffffff;
  border: 1px solid #DADADA;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  height: 34px;
  margin-right: 10px;
  padding: 8px 12px; }

.card-modal .effects__text {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1; }

.card-modal .info-list {
  background: #ffffff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif; }
  .card-modal .info-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
    .card-modal .info-list__item .inform {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .card-modal .info-list .inform-value {
    margin-left: 5px; }
  .card-modal .info-list .inform-name, .card-modal .info-list .inform-value {
    opacity: 0; }
    .card-modal .info-list .inform-name.show, .card-modal .info-list .inform-value.show {
      opacity: 1; }
  .card-modal .info-list--can .info-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    max-width: 33%; }
    @media (max-width: 576px) {
      .card-modal .info-list--can .info-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
  .card-modal .info-list.terpen-list .info-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
    @media (max-width: 576px) {
      .card-modal .info-list.terpen-list .info-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }

.card-modal .card-descriptions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card-modal .card-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 366.5px;
          flex: 0 0 366.5px;
  max-width: 366.5px;
  position: relative;
  padding-right: 16px; }
  @media (max-width: 991px) {
    .card-modal .card-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0; } }
  .card-modal .card-left:after {
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff; }
    @media (max-width: 991px) {
      .card-modal .card-left:after {
        display: none; } }

.card-modal .card-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 366.5px);
          flex: 0 0 calc(100% - 366.5px);
  max-width: calc(100% - 366.5px);
  padding-left: 16px; }
  @media (max-width: 991px) {
    .card-modal .card-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      padding-left: 0;
      margin-top: 15px; } }

.card-modal .card-descriptions {
  background: #ffffff;
  border-radius: 5px; }
  .card-modal .card-descriptions__title {
    font-weight: 700;
    text-align: center;
    padding-top: 15px; }
  .card-modal .card-descriptions__text {
    font-weight: 400;
    padding: 15px; }
  .card-modal .card-descriptions__text, .card-modal .card-descriptions__title {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    opacity: 0;
    -webkit-transition: opacity 1.75s;
    -o-transition: opacity 1.75s;
    transition: opacity 1.75s; }
    .card-modal .card-descriptions__text.show, .card-modal .card-descriptions__title.show {
      opacity: 1; }

/*custom select*/
.select-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select-info__cost {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    margin-right: 22px; }
  .select-info__value {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px; }

.select2-results__options {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414); }

.select2-container--default .select2-selection--single {
  border-radius: 5px !important;
  border: none !important; }

.select2-results__option {
  height: 48px; }
  .select2-results__option .select-info {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px); }

.select2-container .select2-selection--single {
  height: 48px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 10px;
  padding-left: 15px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered > .select-info .select-info__value {
    -webkit-transform: translateY(1.5px);
        -ms-transform: translateY(1.5px);
            transform: translateY(1.5px); }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  right: 10px !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent !important; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent !important; }

.select2-dropdown {
  border-radius: 5px !important;
  border: none !important; }

.select2-container--default .select2-results > .select2-results__options {
  border-radius: 5px !important; }

.select2-results__option {
  border-radius: 5px;
  padding-left: 15px !important; }
