/* default styles for all pages */
/* FONTS */
@font-face {
  font-family: 'slick';
  src: url("../fonts/fonts/slick.eot");
  src: url("../fonts/fonts/slick.woff"), url("../fonts/fonts/slick.ttf"), url("../fonts/fonts/slick.svg");
  font-weight: normal;
  font-style: normal; }

.title {
  font-size: 72px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  .title--white {
    color: #ffffff; }
  .title--black {
    color: #333; }

.sub-title {
  font-size: 56px;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .sub-title {
      font-size: 40px; } }
  .sub-title--white {
    color: #ffffff; }
  .sub-title--black {
    color: #333; }

.btn-main {
  background: -webkit-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(285.77deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(164.23deg, #2DCB71 0%, #205072 100%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  max-width: 170px;
  padding: 10.5px 10px;
  outline: none; }
  .btn-main:hover, .btn-main:focus {
    background: -webkit-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: -o-linear-gradient(315deg, #CA5EFF 0%, #004FDE 100%);
    background: linear-gradient(135deg, #CA5EFF 0%, #004FDE 100%);
    color: #ffffff;
    text-decoration: none; }
  @media (max-width: 576px) {
    .btn-main {
      max-width: 120px;
      font-size: 14px; } }
  .btn-main--white {
    background: #ffffff;
    border: 1px solid #c3c6ef;
    color: #434CCC;
    padding-top: 9.5px;
    padding-bottom: 9.5px; }
    .btn-main--white:hover, .btn-main--white:focus {
      color: #434CCC;
      background: #ffffff; }
  .btn-main--yellow {
    background: #F1B505;
    color: #ffffff; }
    .btn-main--yellow:hover, .btn-main--yellow:focus {
      color: #ffffff;
      background: #F1B505; }

.btn-action {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  max-width: 146px;
  -ms-flex-preferred-size: 146px;
      flex-basis: 146px;
  padding: 10.5px 10px;
  outline: none; }
  @media (max-width: 1199px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  @media (max-width: 991px) {
    .btn-action {
      max-width: 146px;
      -ms-flex-preferred-size: 146px;
          flex-basis: 146px; } }
  @media (max-width: 576px) {
    .btn-action {
      max-width: 120px;
      -ms-flex-preferred-size: 120px;
          flex-basis: 120px; } }
  .btn-action--light {
    color: #2DCC70; }
    .btn-action--light:hover, .btn-action--light:focus {
      color: #2DCC70; }
  .btn-action--dark {
    color: #333; }
    .btn-action--dark:hover, .btn-action--dark:focus {
      color: #333; }
  .btn-action:hover, .btn-action:focus {
    text-decoration: none; }

.circle {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3003);
  border-radius: 50%; }

.browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.browse-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .browse-all {
      margin-top: 35px; } }
  .browse-all__text {
    color: #333;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-right: 15px; }
  .browse-all__icon {
    border: 1px solid rgba(51, 51, 51, 0.297271);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; }
  .browse-all:hover .browse-all__text {
    text-decoration: underline; }

.card {
  border: none;
  border-radius: 8px;
  font-family: 'Josefin Sans Bold', sans-serif;
  padding: 32px; }
  @media (max-width: 1199px) {
    .card {
      padding: 15px; } }
  @media (max-width: 991px) {
    .card {
      padding: 32px; } }
  @media (max-width: 576px) {
    .card {
      padding: 15px; } }
  .card--aqua {
    background: -webkit-gradient(linear, left top, left bottom, from(#00CDAC), to(#02AAB0));
    background: -webkit-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: -o-linear-gradient(top, #00CDAC 0%, #02AAB0 100%);
    background: linear-gradient(180deg, #00CDAC 0%, #02AAB0 100%); }
  .card--orange {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF9966), to(#FF5E62));
    background: -webkit-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: -o-linear-gradient(top, #FF9966 0%, #FF5E62 100%);
    background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%); }
  .card--purple {
    background: -webkit-gradient(linear, left top, left bottom, from(#6F86D6), to(#48C6EF));
    background: -webkit-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: -o-linear-gradient(top, #6F86D6 0%, #48C6EF 100%);
    background: linear-gradient(180deg, #6F86D6 0%, #48C6EF 100%); }
  .card--tinture {
    background: -webkit-gradient(linear, left top, left bottom, from(#42275A), to(#734B6D));
    background: -webkit-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: -o-linear-gradient(top, #42275A 0%, #734B6D 100%);
    background: linear-gradient(180deg, #42275A 0%, #734B6D 100%); }
  .card--preroll {
    background: -webkit-gradient(linear, left top, left bottom, from(#80D0C7), to(#13547A));
    background: -webkit-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: -o-linear-gradient(top, #80D0C7 0%, #13547A 100%);
    background: linear-gradient(180deg, #80D0C7 0%, #13547A 100%); }
  .card--concentrate {
    background: -webkit-gradient(linear, left top, left bottom, from(#4568DC), to(#B06AB3));
    background: -webkit-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: -o-linear-gradient(top, #4568DC 0%, #B06AB3 100%);
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%); }
  .card--drink {
    background: -webkit-gradient(linear, left top, left bottom, from(#000428), to(#004E92));
    background: -webkit-linear-gradient(top, #000428 0%, #004E92 100%);
    background: -o-linear-gradient(top, #000428 0%, #004E92 100%);
    background: linear-gradient(180deg, #000428 0%, #004E92 100%); }
  .card--patch {
    background: -webkit-gradient(linear, left top, left bottom, from(#CC2B5E), to(#753A88));
    background: -webkit-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: -o-linear-gradient(top, #CC2B5E 0%, #753A88 100%);
    background: linear-gradient(180deg, #CC2B5E 0%, #753A88 100%); }
  .card--topical {
    background: -webkit-gradient(linear, left top, left bottom, from(#2B5876), to(#4E4376));
    background: -webkit-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: -o-linear-gradient(top, #2B5876 0%, #4E4376 100%);
    background: linear-gradient(180deg, #2B5876 0%, #4E4376 100%); }
  .card .card-title {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1; }
  .card .card-by {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; }
  .card .card-compose {
    color: #ffffff;
    margin-top: 30px; }
  .card .card-compose-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card .card-compose-in__left, .card .card-compose-in__right {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      display: inline-block; }
  .card .card-select-wrapper {
    padding: 0 30px 10px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 15px; }
    @media (max-width: 1199px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 991px) {
      .card .card-select-wrapper {
        padding: 0 30px 10px; } }
    @media (max-width: 576px) {
      .card .card-select-wrapper {
        padding-left: 0;
        padding-right: 0; } }
    .card .card-select-wrapper:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 228px;
      height: 1px;
      background: #ffffff; }
      @media (max-width: 1199px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
      @media (max-width: 991px) {
        .card .card-select-wrapper:after {
          width: 228px; } }
      @media (max-width: 576px) {
        .card .card-select-wrapper:after {
          width: 100%; } }
  .card .card-select {
    width: 100%; }
    .card .card-select option {
      display: none; }
  .card .lists {
    background: -webkit-gradient(linear, left top, left bottom, from(#06BEB6), to(#48B1BF));
    background: -webkit-linear-gradient(top, #06BEB6 0%, #48B1BF 100%);
    background: -o-linear-gradient(top, #06BEB6 0%, #48B1BF 100%);
    background: linear-gradient(180deg, #06BEB6 0%, #48B1BF 100%);
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px 16px;
    width: 100%;
    pointer-events: none;
    z-index: 1; }
    @media (max-width: 1199px) {
      .card .lists {
        width: 107%; } }
    @media (max-width: 991px) {
      .card .lists {
        background: transparent;
        width: 100%;
        position: static;
        height: 0;
        padding: 0; } }
    .card .lists--show {
      border-left: 1px solid #ffffff;
      left: 100%;
      opacity: 1;
      pointer-events: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: auto; }
      @media (max-width: 991px) {
        .card .lists--show {
          border: none;
          padding-top: 40px; } }
  .card .lists-title {
    background: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 16px 16px 0;
    margin-top: 15px; }
    @media (max-width: 991px) {
      .card .lists-title {
        margin-top: 40px; } }
  .card .effects__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .card .effects__row:last-child {
      margin-bottom: 0; }
  .card .effects__type {
    background: #ffffff;
    border: 1px solid #DADADA;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    height: 34px;
    margin-right: 10px;
    padding: 8px 12px; }
  .card .effects__text {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1; }
  .card .info-list {
    background: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif; }
    @media (max-width: 1199px) {
      .card .info-list {
        font-size: 11px; } }
    @media (max-width: 991px) {
      .card .info-list {
        font-size: 13px; } }
    .card .info-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
      .card .info-list__item .inform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 576px) {
          .card .info-list__item .inform {
            margin: auto; } }
    .card .info-list .inform-value {
      margin-left: 5px; }
    .card .info-list--can .info-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33%;
              flex: 0 0 33%;
      max-width: 33%; }
      @media (max-width: 576px) {
        .card .info-list--can .info-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%; } }
    .card .info-list.terpen-list .info-list__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; }
      @media (max-width: 576px) {
        .card .info-list.terpen-list .info-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%; } }
  .card .card-descriptions-wrapper {
    background: -webkit-gradient(linear, left bottom, left top, from(#06BEB6), to(#48B1BF));
    background: -webkit-linear-gradient(bottom, #06BEB6 0%, #48B1BF 100%);
    background: -o-linear-gradient(bottom, #06BEB6 0%, #48B1BF 100%);
    background: linear-gradient(0deg, #06BEB6 0%, #48B1BF 100%);
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px;
    pointer-events: none;
    z-index: 1;
    width: 100%; }
    @media (max-width: 1199px) {
      .card .card-descriptions-wrapper {
        padding: 16px; } }
    @media (max-width: 991px) {
      .card .card-descriptions-wrapper {
        position: static;
        height: 0;
        padding: 0; } }
    .card .card-descriptions-wrapper--show {
      top: 100%;
      opacity: 1;
      pointer-events: auto;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: auto; }
      @media (max-width: 991px) {
        .card .card-descriptions-wrapper--show .card-descriptions {
          margin-top: 40px; } }
  .card .card-descriptions {
    background: #ffffff;
    border-radius: 5px; }
    .card .card-descriptions__title {
      font-weight: 700;
      text-align: center;
      padding-top: 15px; }
    .card .card-descriptions__text {
      font-weight: 400;
      padding: 15px;
      max-height: 80px;
      overflow: hidden; }
    .card .card-descriptions__text, .card .card-descriptions__title {
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif; }
    .card .card-descriptions__more {
      display: none;
      font-size: 14px;
      font-family: 'Josefin Sans', sans-serif;
      text-align: right;
      padding-right: 16px;
      padding-bottom: 5px; }
      .card .card-descriptions__more.show {
        display: block; }
  .card .card-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.card.open {
  z-index: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#06BEB6), to(#48B1BF));
  background: -webkit-linear-gradient(top, #06BEB6 0%, #48B1BF 100%);
  background: -o-linear-gradient(top, #06BEB6 0%, #48B1BF 100%);
  background: linear-gradient(180deg, #06BEB6 0%, #48B1BF 100%); }
  @media (max-width: 991px) {
    .card.open {
      border-radius: 5px; } }

.card.last-in-row.open {
  border-radius: 0 5px 0 0; }
  @media (max-width: 991px) {
    .card.last-in-row.open {
      border-radius: 5px; } }

.card.last-in-row .lists--show {
  left: -100%;
  border-radius: 5px 0 0 5px;
  border-left: none;
  border-right: 1px solid #ffffff; }
  @media (max-width: 1199px) {
    .card.last-in-row .lists--show {
      left: -107%; } }
  @media (max-width: 991px) {
    .card.last-in-row .lists--show {
      position: static;
      border: none; } }

/*custom select*/
.select-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select-info__cost {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    margin-right: 22px; }
  .select-info__value {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px; }

.select2-results__options {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414); }

.select2-container--default .select2-selection--single {
  border-radius: 5px !important;
  border: none !important; }

.select2-results__option {
  height: 48px; }
  .select2-results__option .select-info {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px); }

.select2-container .select2-selection--single {
  height: 48px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-top: 10px;
  padding-left: 15px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered > .select-info .select-info__value {
    -webkit-transform: translateY(1.5px);
        -ms-transform: translateY(1.5px);
            transform: translateY(1.5px); }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50% !important;
  right: 10px !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent !important; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #000 transparent !important; }

.select2-dropdown {
  border-radius: 5px !important;
  border: none !important; }

.select2-container--default .select2-results > .select2-results__options {
  border-radius: 5px !important; }

.select2-results__option {
  border-radius: 5px;
  padding-left: 15px !important; }

.main {
  background: url("../img/Bitmap.jpg") no-repeat center;
  background-size: cover;
  height: 880px; }
  @media (max-width: 576px) {
    .main {
      height: 650px; } }
  .main:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/Rectangle.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .main:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .main:before {
        width: 50px;
        height: 50px; } }
  .main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
    background: -o-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
    background: linear-gradient(175.16deg, #2DCB71 0%, #205072 100%);
    opacity: 0.9; }

.container--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 880px;
  padding-bottom: 48px;
  z-index: 1; }
  @media (max-width: 991px) {
    .container--main {
      padding-bottom: 35px; } }
  @media (max-width: 576px) {
    .container--main {
      height: 650px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.burger {
  display: none; }
  @media (max-width: 991px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .burger.open {
        z-index: 10;
        -webkit-filter: brightness(0%);
                filter: brightness(0%); } }
  .burger__line {
    width: 16px;
    height: 2px;
    background: #ffffff;
    margin-bottom: 5px; }
    .burger__line:last-child {
      margin-bottom: 0; }

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.search {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (max-width: 1199px) {
    .search {
      right: 80px; } }
  @media (max-width: 991px) {
    .search {
      right: 118px; } }

.logo, .user, .main-icon, .burger {
  cursor: pointer; }

@media (max-width: 991px) {
  .logo img {
    width: 75%; } }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 991px) {
    .user {
      margin-left: auto;
      margin-right: 11px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 60%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .navigation {
      font-family: sans-serif; } }
  @media (max-width: 991px) {
    .navigation {
      background-color: #ffffff;
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      max-width: 100%;
      z-index: 9;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .navigation.open {
        top: 0; }
        .navigation.open .navigation__link {
          color: #333;
          font-size: 35px; } }
  .navigation__link {
    color: #ffffff;
    font-size: 20px; }
    .navigation__link:hover {
      color: #ffffff;
      text-decoration: underline; }

.main-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .main-title {
      width: 690px; } }
  @media (max-width: 767px) {
    .main-title {
      width: 500px; } }
  @media (max-width: 576px) {
    .main-title {
      width: calc(100% - 30px); } }
  .main-title__text {
    min-width: 850px; }
    @media (max-width: 991px) {
      .main-title__text {
        min-width: unset;
        font-size: 55px; } }
    @media (max-width: 767px) {
      .main-title__text {
        font-size: 39px; } }
  .main-title__btn {
    background: #ffffff;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0992414);
    border-radius: 24px;
    color: #333;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 295px;
    padding: 14px 0;
    margin: 40px auto 0; }
    .main-title__btn:hover, .main-title__btn:focus {
      text-decoration: none;
      color: #333; }
    @media (max-width: 576px) {
      .main-title__btn {
        font-size: 20px;
        max-width: 200px;
        margin: 35px auto 0; } }

.main-icon {
  margin: auto auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*products*/
.products {
  background: #ffffff;
  padding: 75px 0; }
  @media (max-width: 991px) {
    .products {
      padding: 35px 0; } }

.products.products--unpadding {
  padding: 0; }
  .products.products--unpadding .product-cards {
    margin-top: 65px; }

.product-title__excerpt {
  color: #333;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-top: 15px; }
  @media (max-width: 576px) {
    .product-title__excerpt {
      font-size: 20px; } }

.product-cards {
  margin-top: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 991px) {
    .product-cards {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px; } }
  .product-cards .card {
    width: 370px; }
    .product-cards .card:nth-child(n+4) {
      margin-top: 60px; }
      @media (max-width: 991px) {
        .product-cards .card:nth-child(n+4) {
          margin-top: 0; } }
    @media (max-width: 1199px) {
      .product-cards .card {
        width: 290px; } }
    @media (max-width: 991px) {
      .product-cards .card {
        margin-bottom: 50px;
        width: 370px; }
        .product-cards .card:last-child {
          margin-bottom: 0; } }
    @media (max-width: 576px) {
      .product-cards .card {
        width: 290px; } }

/*products*/
/*dispensaries, featured*/
.dispensaries, .featured {
  background: #EEEEEE;
  padding: 75px 0;
  border-bottom: 1px solid #C2C2C2; }
  @media (max-width: 991px) {
    .dispensaries, .featured {
      padding: 35px 0; } }
  .dispensaries:before, .featured:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/Rectangle-dispensaries.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .dispensaries:before, .featured:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .dispensaries:before, .featured:before {
        width: 50px;
        height: 50px; } }

.featured {
  background: #E9E9E9;
  border: none; }
  .featured:before {
    content: '';
    position: absolute;
    right: inherit;
    left: 0;
    top: inherit;
    bottom: 0;
    background: url("../img/Rectangle-brightness.png") no-repeat center/100%;
    width: 135px;
    height: 135px;
    z-index: 1; }
    @media (max-width: 991px) {
      .featured:before {
        width: 75px;
        height: 75px; } }
    @media (max-width: 576px) {
      .featured:before {
        width: 50px;
        height: 50px; } }

.dispensaries-title, .featured-title {
  text-align: center; }
  .dispensaries-title__excerpt, .featured-title__excerpt {
    color: #333;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 1;
    margin-top: 15px; }
    @media (max-width: 576px) {
      .dispensaries-title__excerpt, .featured-title__excerpt {
        font-size: 20px; } }

.dispensaries-list, .featured-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 86px; }
  @media (max-width: 991px) {
    .dispensaries-list, .featured-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 35px; } }
  .dispensaries-list__item, .featured-list__item {
    width: 370px;
    border-radius: 8px; }
    @media (max-width: 1199px) {
      .dispensaries-list__item, .featured-list__item {
        width: 290px; } }
    @media (max-width: 991px) {
      .dispensaries-list__item, .featured-list__item {
        margin-bottom: 50px;
        width: 370px; }
        .dispensaries-list__item:last-child, .featured-list__item:last-child {
          margin-bottom: 0; } }
    @media (max-width: 576px) {
      .dispensaries-list__item, .featured-list__item {
        width: 290px; } }
    .dispensaries-list__item .btn-main, .featured-list__item .btn-main {
      margin: 34px auto 0; }
      @media (max-width: 576px) {
        .dispensaries-list__item .btn-main, .featured-list__item .btn-main {
          margin: 15px auto 0; } }

.dispensaries-in, .featured-in {
  background: #ffffff;
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-box-shadow: 0 2.5px 5px #D8D8D8;
          box-shadow: 0 2.5px 5px #D8D8D8; }
  @media (max-width: 1199px) {
    .dispensaries-in, .featured-in {
      height: 290px; } }
  @media (max-width: 991px) {
    .dispensaries-in, .featured-in {
      height: 370px; } }
  @media (max-width: 576px) {
    .dispensaries-in, .featured-in {
      height: 290px; } }
  .dispensaries-in img, .featured-in img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px; }

/*dispansaries, featured*/
/*medical*/
.medical {
  background: -webkit-linear-gradient(301.43deg, #2DCB71 0%, #004FDE 100%);
  background: -o-linear-gradient(301.43deg, #2DCB71 0%, #004FDE 100%);
  background: linear-gradient(148.57deg, #2DCB71 0%, #004FDE 100%);
  padding: 160px 0; }
  @media (max-width: 991px) {
    .medical {
      padding: 70px 0 35px; } }
  @media (max-width: 576px) {
    .medical {
      padding: 35px 0; } }

.container--medical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.medical-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (max-width: 991px) {
    .medical-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-top: 78px; } }
  @media (max-width: 576px) {
    .medical-left {
      margin-top: 35px; } }
  .medical-left__text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0 50px; }
    @media (max-width: 576px) {
      .medical-left__text {
        font-size: 20px;
        margin: 30px 0; } }
  @media (max-width: 991px) {
    .medical-left__btn {
      margin-left: auto;
      margin-right: auto; } }

.medical-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right; }
  @media (max-width: 991px) {
    .medical-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      text-align: center; } }
  .medical-right__image {
    display: inline-block;
    position: relative;
    border-radius: 8px; }
    .medical-right__image:before {
      content: '';
      position: absolute;
      left: -28px;
      top: 28px;
      background-color: #F1B505;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .medical-right__image:before {
          left: -10px;
          top: 10px; } }
      @media (max-width: 767px) {
        .medical-right__image:before {
          left: -5px;
          top: 5px; } }
    .medical-right__image img {
      position: relative;
      border-radius: 8px; }
      @media (max-width: 767px) {
        .medical-right__image img {
          width: 100%; } }

/*medical*/
/*footer*/
.footer-top {
  border-bottom: 1px solid #E9E9E9;
  padding-top: 75px; }
  @media (max-width: 767px) {
    .footer-top {
      padding-top: 35px; } }

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 111px;
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300; }
  @media (max-width: 767px) {
    .footer-bottom {
      height: auto; } }
  @media (max-width: 576px) {
    .footer-bottom {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 15px 0; } }
  .footer-bottom .copyright, .footer-bottom .copyright-author {
    line-height: 1; }
    @media (max-width: 576px) {
      .footer-bottom .copyright, .footer-bottom .copyright-author {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
  @media (max-width: 576px) {
    .footer-bottom .copyright-author {
      margin-top: 5px; } }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .footer-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 35px; } }
  .footer-list__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
    line-height: 1; }
    @media (max-width: 1199px) {
      .footer-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33.3333%;
                flex: 0 0 33.3333%;
        max-width: 33.3333%; } }
    @media (max-width: 767px) {
      .footer-list__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; } }
    .footer-list__item:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }

.footer-logo {
  margin-bottom: 25px; }
  .footer-logo__link {
    color: #333;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .footer-logo__link:hover {
      color: #333; }

.footer-title {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 1px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px; }
  @media (max-width: 767px) {
    .footer-title {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: auto;
      margin-top: 30px; } }

.footer-address {
  color: rgba(51, 51, 51, 0.501557);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2; }
  .footer-address__shell {
    max-width: 200px; }
    @media (max-width: 767px) {
      .footer-address__shell {
        margin: 0 auto; } }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: auto; }
  @media (max-width: 767px) {
    .footer-social {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 25px; } }
  .footer-social__link {
    margin-right: 10px; }
    .footer-social__link:hover {
      opacity: 0.6; }
    .footer-social__link:last-child {
      margin-right: 0; }

.footer-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .footer-menu__item {
    line-height: 1;
    margin-bottom: 10px;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .footer-menu__item:nth-last-child(2) {
      margin-bottom: 0; }
    .footer-menu__item:last-child {
      margin-bottom: 0; }
  .footer-menu__link {
    color: #333;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300; }
    .footer-menu__link:hover {
      color: #333;
      text-decoration: underline; }

.subscribe-form {
  width: 100%; }
  @media (max-width: 576px) {
    .subscribe-form {
      max-width: 320px;
      margin: auto; } }
  .subscribe-form__text {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px; }
  .subscribe-form__input {
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 48px;
    margin-bottom: 15px;
    padding: 15px; }
  .subscribe-form__btn {
    width: 100%;
    max-width: 100%;
    height: 48px; }
  .subscribe-form ::-webkit-input-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form ::-moz-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form :-ms-input-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }
  .subscribe-form :-moz-placeholder {
    color: rgba(51, 51, 51, 0.501557);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 300; }

/*footer*/
.section--background {
  background: -webkit-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
  background: -o-linear-gradient(274.84deg, #2DCB71 0%, #205072 100%);
  background: linear-gradient(175.16deg, #2DCB71 0%, #205072 100%); }
  .section--background .location {
    background: #2DCC70; }

.location {
  position: absolute;
  top: 111px;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media (max-width: 991px) {
    .location {
      top: 83.25px; } }
  .location .container--location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0; }

.location-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px; }
  @media (max-width: 991px) {
    .location-data {
      height: 34px; } }
  .location-data__icon {
    margin-right: 23.5px; }
    @media (max-width: 576px) {
      .location-data__icon {
        margin-right: 10px; } }
  .location-data__text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 14px; }

.profile {
  padding: 95px 0 0; }
  @media (max-width: 767px) {
    .profile {
      padding-top: 69px; } }
  .profile .container--profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .profile .profile-left, .profile .profile-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
    @media (max-width: 767px) {
      .profile .profile-left, .profile .profile-right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
  .profile .profile-left {
    padding-right: 65px; }
    @media (max-width: 991px) {
      .profile .profile-left {
        padding-right: 15px; } }
    @media (max-width: 767px) {
      .profile .profile-left {
        padding-right: 0; } }
    .profile .profile-left .avatar {
      width: 300px;
      height: 300px;
      margin-left: auto; }
      @media (max-width: 991px) {
        .profile .profile-left .avatar {
          width: 100%; } }
      @media (max-width: 767px) {
        .profile .profile-left .avatar {
          width: 300px;
          margin: auto; } }
      @media (max-width: 576px) {
        .profile .profile-left .avatar {
          width: 100%;
          max-width: 300px; } }
      .profile .profile-left .avatar img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
  .profile .profile-right {
    padding-left: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 991px) {
      .profile .profile-right {
        padding-left: 15px; } }
    @media (max-width: 767px) {
      .profile .profile-right {
        padding-left: 0;
        margin-top: 34px; } }
  .profile .profile-title__text {
    color: #333;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1; }
  .profile .profile-title__excerpt {
    color: #ff5e62;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px; }
  .profile .profile-address {
    margin-top: 50px; }
    @media (max-width: 576px) {
      .profile .profile-address {
        margin-top: 35px; } }
    .profile .profile-address__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 5px; }
      .profile .profile-address__row.icon-top {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .profile .profile-address__row:last-child {
        margin-bottom: 0; }
    .profile .profile-address .profile-icon {
      min-width: 30px;
      text-align: center;
      margin-right: 7.5px; }
    .profile .profile-address .profile-text, .profile .profile-address .profile-text a {
      color: #333;
      font-size: 18px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400; }
    .profile .profile-address .profile-text {
      max-width: calc(100% - 37.5px); }
    .profile .profile-address .profile-text a:hover {
      color: #333;
      text-decoration: underline; }
  .profile .profile-open {
    color: #2DCB71;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 767px) {
      .profile .profile-open {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .profile .profile-open img {
      margin-left: 15px; }
  .profile .profile-type {
    color: #333;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-top: auto; }
    @media (max-width: 767px) {
      .profile .profile-type {
        text-align: center;
        margin-top: 15px; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:hover, *:active, *:focus {
    outline: none; }

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }
  body.ov-hidden {
    overflow: hidden; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a:hover {
    text-decoration: none; }

[role=button], a, area, button, input, label, select, summary, textarea {
  touch-action: none;
  -ms-touch-action: none; }

section {
  position: relative; }
